@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');


header{
    font-size: larger;
    position: relative;
    width: auto;
    height: 160px;
    background-color: rgb(226, 202, 134);
 
    
}
#heading{
    float: right;
    position: relative;
    bottom: 55px;

}

   
hr{
    position: center;
    
    
}



nav ul {
  font-size: xx-large;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 5px;
  -webkit-transition: max-height 0.04s;
  -ms-transition: max-height 0.04s;
  -moz-transition: max-height 0.04s;
  -o-transition: max-height 0.04s;
  transition: max-height 0.04s;
}
 


nav ul li {
  color: black;
  display: inline-block;
  padding: 15px;
  position: relative;
  bottom: 15px;
 

}

nav ul li:hover{
  background-color: rgb(150, 149, 100);
}

body{
    background-color: rgb(238, 225, 180);
    height: 100%;
}

/* Section - main */
section.main {
    font-size: 2.4em;
    padding: 1;
    margin-top: 20px; 
    margin-bottom: 30px; 
    padding: 0;
   
}


section.main aside {
    width: 50%;
    float: left;
    text-align: left;
 
}

section.main article {
    width: 50%;
    float: right;
    text-align: center;
    
 
}

a.btn {
    float: left;
    font-size: 1.2em; 
    text-decoration: none; 
    color:rgb(150, 149, 100); 
    border: 5px solid rgb(150, 149, 100);
    padding: 4px 15px; 
    transition: background-color .5s;
}
a.btn:hover{
    background-color: brown
}

section.atmosphere{
    font-size: 45px;
    text-align: left;

}

.footer{
    text-align: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: rgb(146, 140, 84);
    color: #fff;
    position: absolute;
    top: 1000px;

    



}
